{% extends "home.html" %}

{% block content %}
<h1
    style="text-align: center; color:#212529; padding-top: 300px; font-family: 'Poppins', sans-serif; margin-bottom: 30px;">
    Download Merged
    PDF</h1>
<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        <div class="inputelem">
            <input class="but" id="download" name="download" type="submit" value="Download">
        </div>
    </form>
</div>
{% endblock %}