.bodystyle {
	text-align: center;
	background-image: url("https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1951&q=80");
	background-size: cover;
	background-position: center;
	font-family: 'Nunito', sans-serif;
}

.her {
	text-align: center;
	color: red;
}
